<html>

<head>

</head>

<body>
    <center>
        <h1>Login Here</h1>

    </center>
    <center>
        <%=message%>
        <form method="post" action="/authenticate">
            <input type="text" name="username" placeholder="username here"><br><br>
            <input type="text" name="password" placeholder="password here"><br><br>
            <button>Login</button>

        </form>
    </center>
</body>

</html>